# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env.*.local

# build
.next/
out/
dist/
build/
.turbo/

# prisma
packages/db/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.vscode/
.idea/

# testing
coverage/
playwright-report/
test-results/
